.blue_btn{
  text-align: center;
  background-color: #2196f3;
  border-bottom: 1px solid #d7d7d7;
  font-weight: 500;
  color: #fff;
  padding: 9px;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 15px;
}
