.videoWrapper {
  background-color: #fff;
  margin: 0 5px;
  border: 1px solid #c5c5c5;
  h1 {
    font-size: 25px;
    font-weight: 400px;
    color: #404040;
    margin: 15px 0;
    padding: 0 10px;
  }
}

.relatedWrapper {
  margin: 0 5px;
}
